<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Funicorn 登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<div class="layui-header" th:fragment="header">
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <b style="font-size: 20px;"><span style="font-style: italic;font-size: 20px">Funicorn</span> 登录</b>
        </li>
    </ul>
</div>
</body>
</html>